@import "tailwindcss";

@theme {
  --color-walmart-blue: #0071ce; /* Walmart Blue */
  --color-walmart-blue-dark: #005bb5; /* Versión más oscura */
  --color-walmart-yellow: #ffc220; /* Walmart Yellow */
  --color-walmart-yellow-dark: #e6a800; /* Versión más oscura del amarillo */
  --color-walmart-white: #ffffff; /* White */
}

html,
body {
  overflow-x: hidden;
  position: relative; /* sometimes needed */
}

* {
  user-select: none;
}
